{% extends "base.html" %}

{% block title %}Home - Istar{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4">Welcome to Istar</h1>
    <p class="lead">Welcome to the sacred temple of Istaroth simpery, where timelines tangle and devotion is eternal</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Feature 1</h5>
                <p class="card-text">Freedom of expression: Post without content filtering or active monitoring.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-md-0">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Feature 2</h5>
                <p class="card-text">Quick and simple account creation, no email verification required.<br>
                    (i don't know how to implement email comfirmation).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-md-0">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Feature 3</h5>
                <p class="card-text">While not a specific feature, Istar values your feedback, every suggestion is carefully considered to help improve and shape the platform for a better user experience.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
