{% extends "base.html" %}

{% block title %}Home - Istar{% endblock %}

{% block content %}
<div class="background-filter-1"></div>
<div class="text-center mb-5">
    <h1 class="display-4 ani-1">Welcome to Istar</h1>
    <p class="lead ani-2">Welcome to the sacred temple of Istaroth simpery, where timelines tangle and devotion is eternal</p>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div class="card h-100 feature-card-hover bg-glass-custom-1 ani-c-1">
            <div class="card-body">
                <h5 class="card-title">Feature 1</h5>
                <p class="card-text">Freedom of expression: Post without content filtering or active monitoring.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-md-0">
        <div class="card h-100 feature-card-hover bg-glass-custom-1 ani-c-2">
            <div class="card-body">
                <h5 class="card-title">Feature 2</h5>
                <p class="card-text">Quick and simple account creation, no email verification required.<br>
                    (i don't know how to implement email comfirmation).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-md-0">
        <div class="card h-100 feature-card-hover bg-glass-custom-1 ani-c-3">
            <div class="card-body">
                <h5 class="card-title">Feature 3</h5>
                <p class="card-text">TKB: The TKB feature allows viewing the timetable that is always updated according to the real timetable of Chuyen Ha Tinh High School.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
